    /* General Rules */

p{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* Header Section */

header{
    margin-top: -8px;
    margin-left: -8px;
    padding-top: 8px;
    padding-left: 8px;
    padding-bottom: 8px;
    background-color: rgb(255, 255, 255);
    position: fixed;
    width: 100%;
    z-index: 10000;
    /* box-shadow: 0px 100px 500px; */
}

#headspan{
    display: flex;
}

#logo-and-name{
    display: flex;
}

#logo{
    width: 50px;
    height: 50px;
}

#name{
    margin-top: 8px;
    margin-left: 10px;
}

.speciala{
    text-decoration: none;
    color: #000000;
}

.specialtext{
    color: #000000;
    font-family: fantasy;
    padding: 0;
    margin: 0;
}

#favs{
    position: relative;
    left: 20vw;
    top: 15px;

}

#search{
    position: relative;
    display: inline-block;
    left: 55vw;
    top: 15px;
    border-radius: 6px;
    height: 25px;
    width: 230px;
    background-color: #8d2929;
}

#searchbox{
    text-decoration: white;
    color: white;
    display: inline-block;
    vertical-align: middle;
    outline: none;
    height: 25px; 
    margin: 0px;
    padding: 0px; 
    box-shadow: none;
    background: none;
    border: none;
}

#searchbox::placeholder{
    color: white;
}

#search-icon{
    display: inline-block;
    vertical-align: middle;
    color: white;
}

#microphone-icon{
    display: inline-block;
    vertical-align: middle;
    color: white;
}

#notifications{
    position: relative;
    display: inline-block;
    left: 58vw;
    top: 18px;

}

#notification-icon{
    color: rgb(150, 38, 38);
    display: inline-block;
    vertical-align: middle;
}

#myaccount{
    position: relative;
    left: 63vw;
}

#profile-pic{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}


        /* Main Section */

#flex-design{
    position: absolute;
    display: flex;
    flex-direction: row;
    margin-top: 5rem;
}

/* General Category Section */

.category-tile-size{
    height: 250px;
    width: 300px;
}

.tiles{
    box-shadow: 5px 5px 10px;
    opacity: 1;
}

.tiles:hover{
    opacity:1;
    height: 270px;
    width: 320px;
}

#general-categories{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 70vw;
    margin-left: 3.5rem;
    margin-top: 2.5rem;
    justify-content: space-between;
}

/* Latest Releases */

#latest-releases{
    margin-top: 3rem;
    margin-left: 3.5rem;
}

.nomal-heading-texts{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#song-tiles-section{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    width: 60vw;
    justify-content: space-between;
    flex-wrap: wrap;
}

.dot-menu{
    transform: translateX(950%);
}

.dot-menu:after {
    content: '\2807';
    font-size: 20px;
    }

.song-tiles{
    margin: 10px 0px 10px 0px;
    display: flex;
    width: 25vw;
    padding: 5px;
    /* box-shadow: 0px 0px 5px; */
}

.song-tiles:hover{
    box-shadow: 0px 0px 1px;
}

.song-tile-size{
    height: 70px;
}

#song-info{
    font-size: 0.8rem;
    margin-top: 10px;
    margin-left: 15px;
}

/* Popular Artists Section */

.text-center{
    text-align: center;
}

#popular-artists-section{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 70vw;
    margin-left: 3.5rem;
    margin-top: 2.5rem;
    justify-content: space-between;
}

.round-images{
    box-shadow: 0px 0px 10px;
    height: 130px;
    width: 130px;
    border-radius: 50%;
    background-blend-mode: hue;
}

.round-images:hover{
    box-shadow: 0px 0px 20px;
}

    /* Stations Section */


#stations{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 2.5rem;
    margin-left: 3.5rem;
    height: 10rem;
    width: 70vw;  
}

 
    /*Aside Section */


#queue-section{
    margin-top: 2.3rem;
    margin-left: 2rem;
    position: fixed;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    height: 80%;

}

#queue-section::-webkit-scrollbar{
    display: none;
}

.queue-song-tiles{
    display: flex;
    flex-direction: column;
}

.queue-song-tile-size{
    height: 50px;
    width: 50px;
    box-shadow: 1px 1px 10px;
}

.love-button{
    position: relative;
    left: 30%;
}

.love-button:after{
    content: '\2661';
    font-size: 30px;
}
